<a href="https://colab.research.google.com/github/PoojaMoosapet/Assignment1/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# Question 1

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sorted_ages_list = sorted(ages)

#1 Finding the minumum and maximum age of students  by using the sorting technique.
print("Sorted list of ages:",sorted_ages_list)
print("Minimum age =",sorted_ages_list[0],"Maximum age =",sorted_ages_list[-1])
min = sorted_ages_list[0] # indexing is used to get mim and max values
max = sorted_ages_list[-1]

#2 Adding again the minimum age and maximum age of the student to the list.
sorted_ages_list.append(min) #append() is used to add values to list
sorted_ages_list.append(max)

length = len(sorted_ages_list)
print("After appending the elements: ",sorted_ages_list)

#3 Finding the median age which is two middle items devided by two.
if length % 2 == 0 :
    median_1 = sorted_ages_list[length//2]
    median_2 = sorted_ages_list[length//2 - 1]
    median = (median_1+median_2)//2
    print("Median of ages :",median)
else :
  median=sorted_ages_list[length//2]
  print("Median of ages = ",median)

#4 Finding the sum of the ages which is sum of all items divided by their number.
length = len(sorted_ages_list)
sum = 0
for i in range (0,length,1):
  sum = sum + sorted_ages_list[i]

#5 Finding the average age of the students
average = sum/length
print("Average of student ages :",average)

#6 Finding the range of the ages which is max age minus min age.
Range = sorted_ages_list[-1] - sorted_ages_list[0]
print("Range of ages :",Range)

Sorted list of ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age = 19 Maximum age = 26
After appending the elements:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median of ages : 24
Average of student ages : 22.75
Range of ages : 7

In [17]:
# Question 2
#1 Creating a empty dictionary named as dog
dog = {}
#2 Adding the keys or attributes like name, color, breed, legs, age to the dog dictionary
dog = {"name":None, "color":None, "breed":None, "legs":None, "age":None}
#3 Creating a student dictionary with attributes like first_name, last_name, gender, age, marital status,skills, country, city and address for the dictionary
student = {
    "first_name":None,
    "last_name":None, 
    "gender":None, 
    "age":None,
    "marital status":None,
    "skills":None, 
    "country":None, 
    "city":None, 
    "address":None
}
#4 Finding the length of the student dictionary
print("\nLength of Student dictionary is : ",len(student))

student = {
    "first_name":'Pooja',
    "last_name":'Moosapet', 
    "gender":'Female', 
    "age":'30',
    "marital status": 'Unmarried',
    "skills":['Innovative thinking','Acceting the challenges'], 
    "country":'United states', 
    "city":'Overland park', 
    "address":'108th st 5000W'
}
print("\nType :",type(student['skills'])) #type() method is used to check datatype
#value of skills and check the data type
print("\nStudent skills :",student.get('skills'))
#Modify the skills values by adding one or two skills
student['skills'].append("Pressure handling") #append() is add values to the list
print("\nSkills are adding an extra skill:",student.get('skills'))
#Get the dictionary keys as a list
print("\nThe attributes in student dictionary :",student.keys()) #keys() returns keys in the dictionary
#Get the dictionary values as a list
print("\nValues in student dictionary :",student.values()) #values() returns values in the dictionary

Length of Student dictionary is :  9

Type : <class 'list'>

Student skills : ['Innovative thinking', 'Acceting the challenges']

Skills are adding an extra skill: ['Innovative thinking', 'Acceting the challenges', 'Pressure handling']

The attributes in student dictionary : dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

Values in student dictionary : dict_values(['Pooja', 'Moosapet', 'Female', '30', 'Unmarried', ['Innovative thinking', 'Acceting the challenges', 'Pressure handling'], 'United states', 'Overland park', '108th st 5000W'])

In [18]:
# Question 3
#1 Creating a tuple which contains names of the siblings.

brothers = ("Kranthi", "Kondi")
sisters = ("Tejaswi", "Sowmya")
#2 Joining two tuples amd assigning them to siblings and finding the length of the siblings.
siblings = brothers+sisters # + operand is used concatenate 2 tuples
print("\nAfter adding brothers and sisters: ",siblings)
print("\nThe length of siblings :",len(siblings)) #len() returns lenght of tuple.
#3 Modifying siblings tuple and adding father and mother names to family members.
siblings = siblings + ("Father_name","Mother_name")
#4 Adding the updated names to the family_members
family_members = siblings
print("\nAdding father and mother name :",family_members,"\n")

After adding brothers and sisters:  ('Kranthi', 'Kondi', 'Tejaswi', 'Sowmya')

The length of siblings : 4

Adding father and mother name : ('Kranthi', 'Kondi', 'Tejaswi', 'Sowmya', 'Father_name', 'Mother_name')

In [20]:
# Question 4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#1 Finding the length of set it_companies
length = len(it_companies)
print("Length :",length)
print("\nit_companies:", it_companies)

#2 Adding 'Twitter' to it_companies
it_companies.add('Twitter') # add() is used add elements in the list
print("\nAter adding a company, it_companies:",it_companies)

#3 Inserting multiple IT companies at once to set it_companies
new_companies = ['mindtree','accenture','sigma']
it_companies.update(new_companies) #update() is used add multiple companies to the list
print("\nAter adding multiple companies, it_companies:",it_companies)

#4 Remove one of the companies from the set it_companies
it_companies.remove('Apple') #remove is used remove the elements from the list
print("\nAter deleting a company(i.e., Apple) it_companies: ",it_companies)

#5 What is the difference between remove and discard
'''
The difference between remove and discard is if we want to delete an element in the set that is not
present in the set by using remove then gives an error whereas discard
doesn't show any error it just keeps the set un disturbed
'''
print("\ndicard usage",it_companies.discard('Tekaroon')) # discard() is used to discard the elements

#6 Joining A and B
c=B.union(A) #union() is used to join 2 sets
print("\nAfter joining A and B, the resultant set:",c)

#7 Finding A intersection B
Common = A.intersection(B) #intersection() is used to get common elements in the set
print("\nIntersection set :",Common)

#8 Is A subset of B ?
print("\nA is subset of B (True/False) :",A.issubset(B)) #issubset() returns boolean

#9 Are A and B disjoint sets
print("\nAre A and B disjoint sets (True/False) :",A.isdisjoint(B)) #isdisjoint() returns boolean

#10 Joining A with B and B with A?
     
print("\nJoining A with B:",A.union(B)) 
print("Joining B with A:",B.union(A))

#11 Finding is the symmetric difference between A and B
print("\nThe symmentric difference is : ",A.symmetric_difference(B)) 

#12 Deleting the sets completely
del A # del is used delete the set
del B


#13 Convert the ages to a set and compare the length of the list and the set
Set = set(age) # set() is used to covert list to set
print("\nConverted to set",Set)
print("\nThe length of list is :",len(age),"and set is :",len(Set))

Length : 7

it_companies: {'IBM', 'Microsoft', 'Google', 'Facebook', 'Oracle', 'Amazon', 'Apple'}

Ater adding a company, it_companies: {'IBM', 'Microsoft', 'Google', 'Facebook', 'Oracle', 'Amazon', 'Twitter', 'Apple'}

Ater adding multiple companies, it_companies: {'sigma', 'IBM', 'mindtree', 'accenture', 'Microsoft', 'Google', 'Facebook', 'Oracle', 'Amazon', 'Twitter', 'Apple'}

Ater deleting a company(i.e., Apple) it_companies:  {'sigma', 'IBM', 'mindtree', 'accenture', 'Microsoft', 'Google', 'Facebook', 'Oracle', 'Amazon', 'Twitter'}

dicard usage None

After joining A and B, the resultant set: {19, 20, 22, 24, 25, 26, 27, 28}

Intersection set : {19, 20, 22, 24, 25, 26}

A is subset of B (True/False) : True

Are A and B disjoint sets (True/False) : False

Joining A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A: {19, 20, 22, 24, 25, 26, 27, 28}

The symmentric difference is :  {27, 28}

Converted to set {19, 22, 24, 25, 26}

The length of list is : 8 and set is : 5

In [21]:
# Question 5
#The radius of a circle is 30 meters.


import math

constant = math.pi # gets the pi value from math package
radius = 30

#1 CAlculating the area of a circle:
_area_of_circle_ = constant * radius * radius
print("Area of the circle is :",_area_of_circle_)

#2 Finding the Circumference 
_circum_of_circle_= 2 * constant * radius
print("The Circumference is :",_circum_of_circle_)

#3 Considering the input (dynamically)
new_radius = float(input("Enter radius value: ")) #takes input from user
Area = constant * new_radius * new_radius

print("for the given radius = ",new_radius,"\nArea :",Area)

Area of the circle is : 2827.4333882308138
The Circumference is : 188.49555921538757
Enter radius value: 4
for the given radius =  4.0
Area : 50.26548245743669

In [22]:
# Question 6
# “I am a teacher and I love to inspire and teach people”

sentence = "I am a teacher and I love to inspire and teach people"

#Splitting the sentence and getting the unique words or values 
Split = sentence.split(" ") # split() is used to split the data by space
sp_set = set(Split) #set() is used to covert into set
print("Set: ",sp_set)
print("Number of unique words: ",len(sp_set))

Set:  {'and', 'to', 'people', 'teach', 'love', 'inspire', 'teacher', 'am', 'I', 'a'}
Number of unique words:  10

In [23]:
# Question 7

#Use a tab escape sequence to get the following lines.
#Name Age Country City  #Asabeneh 250 Finland Helsinki


print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki") #/t is used to get tab space in the sentence

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [24]:
# Question 8
#Use the string formatting method to display the following:
#radius = 10
#area = 3.14 * radius ** 2
#“The area of a circle with radius 10 is 314 meters square.”

radius = 10
area = int(3.14 * radius ** 2)

#sting formating
formatted_area = 'The area of circle with radius {} is {} meters square.'.format(radius, area) #format() is used get output in particular format 
print(formatted_area)

The area of circle with radius 10 is 314 meters square.

In [15]:
# Question 9
#Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
#kilograms in a separate list using Loop. N: No of students (Read input from user)
#Ex: L1: [150, 155, 145, 148]
#Output: [68.03, 70.3, 65.77, 67.13]


# Taking the input Dynamically
n = int(input('Enter the length:')) #int() is used to convert string to integer

# Creating two lists one for lbs and other for kilograms
list = []
con_list =[]
for i in range (0,n,1) :
    p =  float(input('Enter the value:')) #float() is used to convert string to float
    list.append(p)

for i in range (0,n,1):
      q = list[i] * 0.453592
      con_list.append(round(q,2))
print("\nConverted to kilograms: ",con_list)

Enter the length:4
Enter the value:150
Enter the value:155
Enter the value:145
Enter the value:148

Converted to kilograms:  [68.04, 70.31, 65.77, 67.13]